<div class="bg-dark" style="min-height: 30vh;">
  <div class="footer">

    <div class="former my-5" >
      <div class="form-group">
        <input type="text" class="form-control m-2" id="exampleInputEmail1"
          aria-describedby="emailHelp" placeholder="Your name">
      </div>
      <div class="form-group">
        <input type="text" class="form-control m-2"
          id="exampleInputPassword1" placeholder="Message...">
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-outline-info btn-sm text-center m-2">Submit</button>
      </div>
    </div>

    <div>
      <h3 class="text-center text-white my-3">Projects</h3>
      <ul class="text-white text-center" style="list-style: none;">
        <li class="my-2" style="text-decoration: none;"> <a class="text-info" style="text-decoration: none;" href="/projects#becstudoapp"> BEC Studo - Andorid App</a>
        </li>
        <li class="my-2" style="text-decoration: none;"> <a class="text-info" style="text-decoration: none;" href="/projects#becstudoweb"> BEC Studo - website</a></li>
        <li class="my-2" style="text-decoration: none;"> <a class="text-info" style="text-decoration: none;" href="/projects#kisanraj"> KisanRaj - Website</a></li>
        <li class="my-2" style="text-decoration: none;"> <a class="text-info" style="text-decoration: none;" href="/projects#tasknet"> Tasknet - website</a></li>
        <!-- <li class="my-2" style="text-decoration: none;"> <a class="text-info" style="text-decoration: none;" href="/projects#becstudoapp"> Portfolio - website</a></li> -->
        <li class="my-2" style="text-decoration: none;"> <a class="text-info" style="text-decoration: none;" href="/projects#gitrepos"> Gitrepos - website</a></li>
        <li class="my-2" style="text-decoration: none;"> <a class="text-info" style="text-decoration: none;" href="/projects#becconfessions"> BEC Confessions - Android
            App</a></li>
        <li class="my-2" style="text-decoration: none;"> <a class="text-info" style="text-decoration: none;" href="/projects#jotit"> Jot It - Android App</a></li>
      </ul>
    </div>


    <div class="social">
      <h2 class="text-white text-center">Let's Socialize :</h2>

      <ul class="text-white" style="display: flex;flex-direction: row;">
        <a class="text-info" style="text-decoration: none;" href="https://www.instagram.com/bec_startup/" target="_blank"><i class="m-2 fa-2x fa-brands fa-instagram"></i></a>
        <a class="text-info" style="text-decoration: none;" href="https://in.linkedin.com/in/srihari-maddineni" target="_blank"><i class=" m-2 fa-2x fa-brands fa-linkedin"></i></a>
        <a class="text-info" style="text-decoration: none;" href="https://www.itkonnects.com" target="_blank"><i class=" m-2 fa-2x fa-solid fa-globe"></i></a>
      </ul>

    </div>
  </div>


</div>