
<div class="container whole">
    <div class="rower">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_S2vSY3RyzEv6zC40UskMJQQF0dVfyTYKHg&s"
                alt="loading">

        <div class="column">
            <h1 class="m-5">I'm <span class="text-danger">SRIHARI MADDINENI</span></h1>
            <div class="skillset">
                <i class=" i fa-brands fa-html5 fa-2x"></i>
                <i class=" i fa-brands fa-css3-alt fa-2x"></i>
                <i class=" i fa-brands fa-js fa-2x"></i>
                <i class=" i fa-brands fa-node fa-2x"></i>
                <i class=" i fa-brands fa-java fa-2x"></i>
                <i class=" i fa-brands fa-python fa-2x"></i>
                <i class=" i fa-brands fa-react fa-2x"></i>
                <i class=" i fa-brands fa-angular fa-2x"></i>
                <i class=" i fa-solid fa-database fa-2x"></i>
                <i class=" i fa-brands fa-envira fa-2x"></i>
                <i class=" i fa-brands fa-android fa-2x"></i>
            </div>
        </div>


    </div>
    <div class="container">
        <div class="my-3">


            <div class="counter">
                <div class="card m-2 p-2">
                    <h1 class="text-center">10</h1>
                    <p class="text-center"> Projects</p>
                    <a routerLink="/projects" class="btn btn-outline-primary btn-sm">View all</a>
                </div>
                <div class="card m-2 p-2">
                    <h1 class="text-center">3</h1>
                    <p class="text-center"> Internships</p>
                    <a routerLink="/internships" class="btn btn-outline-primary btn-sm">View all</a>
                </div>
                <div class="card m-2 p-2">
                    <h1 class="text-center">15</h1>
                    <p class="text-center"> Certifications</p>
                    <a routerLink="/certifications" class="btn btn-outline-primary btn-sm">View all</a>
                </div>
                <div class="card m-2 p-2">
                    <h1 class="text-center">3</h1>
                    <p class="text-center"> Competitions</p>
                    <a routerLink="/competitions" class="btn btn-outline-primary btn-sm">View all</a>
                </div>
                <div class="card m-2 p-2">
                    <h1 class="text-center">10</h1>
                    <p class="text-center"> Achievements</p>
                    <a routerLink="/achievements" class="btn btn-outline-primary btn-sm">View all</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="background-color: rgba(0, 0, 28, 0.945);">

    <div class="highlights my-2 py-3">

        <h2 class="text-center">** Highlights **</h2>

        <ul class="m-2">
            <li class="mx-2 my-2">Project Management certification : <span class="text-warning">Google</span></li>
            <li class="mx-2 my-2">MTA Introduction to programming using Python : <span
                    class="text-warning">Microsoft</span></li>
            <li class="mx-2 my-2">Python for Data science : <span class="text-warning">IBM</span></li>
            <li class="mx-2 my-2">Project Management Essentials : <span class="text-warning">Management & Strategy
                    Institute</span> </li>
            <li class="mx-2 my-2">Programming Data structures and Algorithms using Python : <span
                    class="text-warning">NPTEL</span></li>
            <li class="mx-2 my-2">Programming in modern C : <span class="text-warning">NPTEL</span></li>
        </ul>
    </div>
</div>