<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid"> <!-- Wrap the content in a container-fluid for better alignment -->
        <a class="navbar-brand text-warning fw fw-bolder" routerLink="/">Portfolio</a>
        <button class="navbar-toggler text-white" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav"> <!-- Utilize justify-content-end to align items to the right -->
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link text-info fw fw-bolder"style="font-family: 'Courier New', Courier, monospace;" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white mx-2" style="font-family: 'Courier New', Courier, monospace;" routerLink="/blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white mx-2" style="font-family: 'Courier New', Courier, monospace;" routerLink="/projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white mx-2" style="font-family: 'Courier New', Courier, monospace;" routerLink="/achievements">Achievements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white mx-2" style="font-family: 'Courier New', Courier, monospace;" routerLink="/academics">Academics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white mx-2" style="font-family: 'Courier New', Courier, monospace;" routerLink="/gallery">Gallery</a>
                </li>
                <li class="nav-item">
                    <button class=" btn btn-sm btn-outline-success text-white m-1" style="font-family: 'Courier New', Courier, monospace;" routerLink="/login">Login</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
